#config https://github.com/firehol/netdata/blob/master/conf.d/stream.conf

{% if 'enable' in drn_backend and drn_backend.enable == True %}

[{{drn_stream.api_key}}]
    enabled = yes
    default history = 3600
    default memory mode = save
    health enabled by default = auto
    allow from = *

[stream]
    enabled = no
    destination = {{drn_stream.host}}:{{drn_stream.port}}
    api key = {{drn_stream.api_key}}

{% else %}
{% if 'enable' in drn_stream and drn_stream.enable %}

[stream]
    enabled = yes
    destination = {{drn_stream.host}}:{{drn_stream.port}}
    api key = {{drn_stream.api_key}}

{% endif %}
{% endif %}


